.main-search-div {position: relative;
}
.search-icon {position:absolute;
    left: 0.85vw;
    top: 0.75vw;
    height: 1.5vw;
    width: 1.5vw;
    opacity: 0.5;

}
.search-bar {
    padding-left: 2.85vw;

}.search-bar:focus-visible {
    padding-left: 2.7vw;

}
.search-button {
    position: absolute;
    width: 7vw;
    left:24vw;
    height: 2vw;
    top:0.55vw;
}
