.dropbtn {
    background-color: white;
    color: #555555;
    font-weight: bold;
    font-size: 1.2vw;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    border-radius: 0;
    text-align: right;
    width: 6vw;
    padding: 0;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 6vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 1vw;
  }
  
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 1vw 1vw;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: white;
    color: #222222;
    font-size: 1.2vw;
    border: none;
    cursor: pointer;
  }
  .button {
      padding-right: 0;
      width: 6vw;
      transition: 2s;
      margin-bottom: 0vw;
      padding: 0;
  }
  .text-filter {
      margin: 0;
      font-size: 0.8vw;
  }
  a {
    cursor: pointer;
  }